/*_____________________________________________________________________________________
*|
*| Variables
*|_____________________________________________________________________________________
*/
:root {
    --primary-color: #007BDF;
    --success-color: #62bb66;
    --danger-color: #f33426;
    --primary-color--hover: rgb(21, 141, 240);
    --success-color--hover: #7ac57d;
}
/*_____________________________________________________________________________________
*|
*| Reset
*|_____________________________________________________________________________________
*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}
html,
body,
#root,
.App {
    height: 100%;
}
body {
    min-height: 100vh;
    color: #555;
}
.main {
    height: calc(100% - 66px);
}
.ed-fluid {
    max-width: 1380px;
}
/*_____________________________________________________________________________________
*|
*| Navbar
*|_____________________________________________________________________________________
*/
.navbar {
    background-color: #fafafa;
    border-bottom: 1px solid #e2e2e2;
}
.navbar-brand {
    display: flex;
    align-self: center;
    align-items: center;
    color: #111;
}
.navbar-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
.navbar-nav .nav-item {
    display: inline-block;
    font-size: 0;
}
.navbar-nav .nav-item a,
.navbar-toggle .fa {
    display: block;
    padding: 1.2rem;
    font-size: .9rem;
    color: #333;
    cursor: pointer;
    text-decoration: none;
}
.navbar-toggle .fa {
    padding: 1rem;
    font-size: 2rem;
    color: #555;
}
.navbar-nav .nav-item.nav-profile .avatar,
.course .avatar {
    display: inline-block;
    margin: -1rem 0;
    margin-left: .4rem;
    border-radius: 100px;
    border: 1px solid #ccc;
    overflow: hidden;
}
.navbar-nav .nav-item.nav-profile .avatar img,
.course .avatar img {
    margin: 0;
    padding: 0;
    max-width: 35px;
}
.navbar-nav .nav-item.nav-profile a:hover {
    background-color: transparent;
}
.navbar-nav .nav-item a:hover {
    background-color: #e2e2e2;
}
.navbar .navbar-nav .nav-item .button {
    margin: .8rem 0;
}
.navbar .navbar-nav .nav-item .live-class {
    display: inline-block;
    margin: 0 .5rem;
    padding: .5rem;
    border-radius: 3px;
    border: 2px solid var(--danger-color);
    color: var(--danger-color);
}
.navbar .navbar-nav .nav-item .live-class .fa{
    margin-right: .4rem;
}
.navbar .navbar-nav .nav-item .live-class:hover {
    background-color: var(--danger-color);
    color: white;
}
.navbar .navbar-nav .nav-item.dropdown {
    position: relative;
}
.navbar .navbar-nav .nav-item.dropdown .nav-dropdown {
    display: none;
    position: absolute;
    bottom: -56px;
    right: 0;
    z-index: 10;
    border-radius: 2px;
    border: 1px solid #d7d7d7;
    border-top: 0;
}
.navbar .navbar-nav .nav-item.dropdown .nav-dropdown.active {
    display: inline-block;
}
.dropdown-item {
    min-width: 160px;
    color: #111;
}
.dropdown-item:hover {
    border-top: 1px solid #d7d7d7;
    background-color: #ececec;
}
/*_____________________________________________________________________________________
*|
*| Courses
*|_____________________________________________________________________________________
*/
.course {
    margin-bottom: 1.5rem;
    border-radius: 3px;
    overflow: hidden;
}
.course-body,
.course-footer {
    padding: 1rem;
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
}
.course-cover {
    max-height: 200px;
    overflow: hidden;
}
.course-footer {
    padding: 1rem;
    border: 1px solid #d7d7d7;
}
.course-title {
    margin-bottom: .5rem;
    font-weight: 800;
    color: #222;
}
.course-price {
    padding: .8rem 1.5rem;
    border: 1px solid var(--danger-color);
    border-radius: 2px;
    color: var(--danger-color);
    font-weight: 500;
    cursor: pointer;
}
.course-price .fa {
    margin-right: .5rem;
}
.course-price:hover {
    color: white;
    background-color: var(--danger-color);
}
/*_____________________________________________________________________________________
*|
*| Forms
*|_____________________________________________________________________________________
*/
.form {
    width: 100%;
}
.form-group {
    margin-bottom: 1rem;
}
.form-group label {
    display: block;
    color: #222;
    font-weight: bold;
}
.form-group .form-control {
    display: block;
    padding: .75rem;
    width: 100%;
    border: 1px solid #d7d7d7;
    border-radius: 2px;
    outline: none;
}
/*_____________________________________________________________________________________
*|
*| Buttons
*|_____________________________________________________________________________________
*/
.button {
    margin: 0;
    padding: .75rem;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}
.btn-primary {
    background-color: var(--primary-color);
    color: white;
}
.btn-primary:hover {
    background-color: var(--primary-color--hover)
}
.btn-success {
    background-color: var(--success-color);
    color: white;
}
.btn-success:hover {
    background-color: var(--success-color--hover);
    color: white;
}
.btn-block {
    display: block;
    width: 100%;
}
/*_____________________________________________________________________________________
*|
*| Alerts
*|_____________________________________________________________________________________
*/
.alert-container {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    left: 1rem;
}
.alert {
    padding-top: .25rem;
    padding-bottom: .25rem;
    border-radius: 3px;
}
.alert-title {
    margin: .75rem;
    margin-bottom: 0rem;
}
.alert-text {
    margin: .75rem;
    font-size: .9rem;
}
.alert-success {
    background-color: #cce5b0;
}
.alert-success .alert-title,
.alert-success .alert-text {
    color: #577d2a;
}
.alert-danger {
    background-color: #fccbc7;
}
.alert-danger .alert-title,
.alert-danger .alert-text {
    color: #f44336;
}
/*_____________________________________________________________________________________
*|
*| Helpers
*|_____________________________________________________________________________________
*/
.hide {
    display: none;
}
.margin-top {
    margin-top: 1rem;
}
.margin-top--2 {
    margin-top: 2rem;
}